/* Body */
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: url('https://source.unsplash.com/1920x1080/?landscape') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background-color: rgb(245, 245, 245, 0.5);
  box-shadow: -15px 17px 30px -3px rgba(18, 142, 206, 0.49);
  padding: 30px;
  border-radius: 22px;
  width: 500px;
}

/* Search */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Button */
button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(136, 204, 255);
  border-radius: 22px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

button:hover {
  border: 2px solid rgb(63, 170, 252);
}

#search-icon {
  width: 15px;
  height: 15px;
  display: block;
  margin: auto;
}

/* Icon */
#icon-container {
  margin-left: auto;
}

#icon {
  width: 115px;
  margin: 18px 24px;
}

/* Title */
h2 {
  margin: 0px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

/* Serch Bar */
#search-bar {
  width: 240px;
  border-radius: 22px;
  height: 40px;
  margin-right: 7px;
  padding: 0 18px;
  font-family: inherit;
  font-size: large;
}

.search-bar-invalid {
  border: 2px solid rgb(255, 147, 147);
}

.search-bar-invalid:hover {
  border: 2px solid rgb(255, 0, 0);
}

.search-bar-valid {
  border: 2px solid rgb(136, 204, 255);
}

.search-bar-valid:hover {
  border: 2px solid rgb(63, 170, 252);
}

#search-bar:focus {
  outline: none;
}

/* Weather Info */
.info {
  /* display: none; */
  display: flex;
  background: linear-gradient(45deg, rgba(0, 150, 224, 1) 0%, rgb(144, 216, 249) 100%);
  border-radius: 22px;
  padding: 10px 25px 4px;
  color: rgb(255, 255, 255);
  margin: 20px 0;
}

#city {
  font-size: 25px;
  margin: 8px 0px;
}

#temp {
  font-size: 45px;
  margin: 0px;
  font-weight: bold;
}

#description {
  text-transform: capitalize;
  font-size: 20px;
}

#icon-container {
  margin-left: auto;
}

#icon {
  width: 130px;
  margin: 18px 24px;
}

/* Additional Info */
.additional-info {
  /* display: none; */
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: -1px 8px 11px -5px rgba(18, 142, 206, 0.75);
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  padding: 20px 26px;
}

#wind {
  margin-right: auto;
  font-size: 20px;
}
#humidity {
  font-size: 20px;
}

/* Ivalid Input */
#invalid {
  display: none;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-top: 10px;
  font-size: large;
  font-weight: 500;
}

/* Weather is hidden initially */
.weather {
  display: none;
}

/* Spinner while loading data from the server! */

.lds-ripple {
  /* display: inline-block; */
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #000000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  margin-left: 215px;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}